AddDefaultCharset UTF-8
AddCharset utf-8 *

#IndexIgnore */*
#RewriteEngine on

#RewriteBase / #my add

RewriteEngine on
# if a directory or a file exists, use it directly
Options +FollowSymLinks
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+) index.php [L]
# otherwise forward it to index.php
#RewriteRule . index.php

RewriteCond %{HTTP_HOST} ^www.lumixstudio.com.ua$ [NC]
RewriteRule ^(.*)$ https://lumixstudio.com.ua/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
RewriteRule . %1/%2 [R=301,L]

