AddDefaultCharset UTF-8
AddCharset utf-8 *

#Options +FollowSymLinks
#IndexIgnore */*
#RewriteEngine on

#RewriteBase / #my add

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.lumixstudio.com.ua$ [NC]
RewriteRule ^(.*)$ https://lumixstudio.com.ua/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
RewriteRule . %1/%2 [R=301,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php